:root {
  --bg-accent-color: #2d2d2d;
  --accent-color: #3f6be6;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #d9dbdd;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #a1a1a1;
  --black: #000000;
  --translucent-black: #00000099;
}
p {
  color: var(--smokywhite);
}

label {
  color: var(--text-accent-color);
}

* {
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 1.25rem;
  font-family: Roboto, Oxygen, sans-serif;
  background-color: #f8f8fb;
  overflow: hidden;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background: var(--bg-main-color);
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.banner__title {
  margin: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 400;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.create-button {
  margin: 0.1em 0.5em;
}

.create-button button {
  text-align: center;
  user-select: none;
  padding: 1em 3em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}

.document {
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}
.page {
  padding: 2rem 2rem;
}
.close {
  width: 30px;
  height: 30px;
  color: var(--smokywhite);
  font-size: 20px;
  border: 1px solid var(--smokywhite);
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
}

.close:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.footer {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  background: var(--bg-main-color);
}
