:root {
  --bg-accent-color: #2d2d2d;
  --accent-color: #3f6be6;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #d9dbdd;
  --shadow-color: #a7a7a7;
  --document-bg-color: #92929250;
  --smokywhite: #a1a1a1;
  --black: #000000;
  --translucent-black: #00000099;
}
p {
  color: var(--smokywhite);
}

* {
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 1.25rem;
  font-family: Roboto, Oxygen, sans-serif;
  background-color: #f8f8fb;
  overflow: hidden;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background: var(--bg-main-color);
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.banner__title {
  margin: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 400;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.create-button {
  margin: 0.1em 0.5em;
}

.create-button button {
  text-align: center;
  user-select: none;
  padding: 1em 3em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.document {
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

/* -- Page -- */
.page-item {
  margin: 1.5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  background: #fff;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.2s;
}

.page-item .close {
  width: 30px;
  height: 30px;
  color: var(--smokywhite);
  font-size: 20px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.page-item .close:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.page-item__title {
  margin-bottom: 0.5em;
  font-size: 20px;
  font-weight: 400;
}
.page-item input[type='checkbox'] {
  margin-right: 8px;
}
.page-item__body {
  width: 100%;
}

/* -- Image & Video -- */
.video,
.image {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holder {
  width: 100%;
  display: flex;
}
.video__title,
.image__title {
  margin-left: 1em;
}
.video__iframe,
.image__thumbnail {
  width: 50%;
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.dialog button {
  border: 0;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
}
.dialog button:hover {
  color: var(--accent-color);
}
.dialog button:first-child {
  border-bottom: 1px solid var(--border-color);
}
.dialog button:last-child {
  border-top: 1px solid var(--border-color);
}

#dialog__body {
  padding: 24px 0;
}
.form__container {
  display: flex;
  align-items: center;
}

.form__container + .form__container {
  margin-top: 1rem;
}

.form__container label {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;
  text-align: center;
}
.form__container input {
  padding: 0 1rem;
  width: 80%;
  line-height: 32px;
  border: 0;
  border: 1px solid #dedee0;
  background: transparent;
}

/* -- Footer -- */
.footer {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  background: var(--bg-main-color);
}

/* -- Drag and Drop -- */
.mute-children * {
  pointer-events: none;
}

.lifted {
  opacity: 0.5;
}

.drop-area {
  outline: 5px solid var(--accent-color);
  outline-offset: -5px;
}
